<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218911382254-3j92pu4lmg9t6citjkljkt0ii6urlcjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218911382254-3j92pu4lmg9t6citjkljkt0ii6urlcjd</string>
	<key>API_KEY</key>
	<string>AIzaSyAF_8MosAf_NVq78a_hFiWRX4Llz1Q1PMk</string>
	<key>GCM_SENDER_ID</key>
	<string>218911382254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChristianRiccio.Agenda-Appuntamenti</string>
	<key>PROJECT_ID</key>
	<string>agenda-appuntamenti-3ea11</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-appuntamenti-3ea11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218911382254:ios:e5b9202c5adaf26ce2f1ff</string>
</dict>
</plist>